* {
  box-sizing: border-box;
  margin: 0;
  pardding: 0;
}

body {
  font-family: 'Lacquer', cursive;
  font-size: larger;
  line-height: 1.4;
  background-color: black;
}

a {
  color: #333;
  text-decoration: none;
}